

#particles-js{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    position: relative;
}


.heading1{
    font-size: 80px;
    padding-bottom: 0px;
    font-family: 'Staatliches', cursive;
    color: aliceblue;
    position: absolute;
    top: 36%;
    left:36%;
   
}


.heading1:hover{
    color:#05dfd7 ;
}

.para{
    font-size: 25px; 
    color: grey;
    font-family: 'Rajdhani', sans-serif; 
    position: absolute;
    top: 48%;
    left:39%;
}

.button{
    position: absolute;
    top: 55%;
    left:45%;
    background-color:#05dfd7;
    font-family: sans-serif;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 9px 15px;
    color: black;
    animation: anime 1s ease-in-out infinite;

}
@keyframes anime {
    from{
        transform: translateY(-5px)
    }
    to{
        transform: translateY(-2px)
    }
}

.button:hover
{
background-image:none;
color: black;
background-color:#f1ffff;
}


@media (max-width: 1080px){
    
    .heading1{
        font-size: 50px;
        left:5%;
        
    }

    .para{
        font-size:17px ;
        left: 6%;
        top: 44%;
        
    }

    .button{
        left: 6%;
        top: 48%;
    }

}